  <tr>
    <td scope="col"><%= produto.nome %></td>
    <td scope="col"><%= produto.descricao %></td>
    <td scope="col"><%= produto.departamento.nome %></td>
    <td scope="col"><%= produto.quantidade %></td>
    <td scope="col"><%= produto.preco %></td>
    <td><%= link_to "Alterar", edit_produto_path(produto), class:"btn btn-default" %></td>
    <td>
        <%= button_to "Remover", "/produtos/#{produto.id}" , method: :delete, class:"btn btn-danger",
          data: {confirm: "Tem certeza que deseja remover este produto?"}
        %>
    </td>
  </tr>