<% if flash[:notice] %>
      <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice]%>
      </div>
    <% elsif flash[:error]%>
      <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error]%>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert]%>
      </div>
    <% end %>

  <div>
    <h3 class="title-product">Estoque</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <td scope="col"><strong>Sabor</strong></td>
          <td scope="col"><strong>Categoria</strong></td>
          <td scope="col"><strong>Quantidade</strong></td>
          <td scope="col"><strong>Preço</strong></td>
        </tr>
      </thead>
      <tbody>
        <%= render @produtos %>
      </tbody>
    </table>
      <h3 class="title-product">Promo do dia</h3>
      <table class="table table-hover">
      <thead>
        <tr>
          <td scope="col"><strong>Sabor</strong></td>
          <td scope="col"><strong>Categoria</strong></td>
          <td scope="col"><strong>Quantidade</strong></td>
          <td scope="col"><strong>Preço</strong></td>
        </tr>
      </thead>
      <tbody>
        <%= render @produto_do_dia %>
      </tbody>
    </table>
  </div>